html, body{
  padding: 0;
  margin: 0;
}

nav{
  position:absolute;
  height: 100%;
  width: 15%;
  background-color: #e8e8e8;
  padding:20px;
}

nav h1{
  display:inline-block;
  margin:0;
  font-size: 24px;
}

#rooms-container{
  margin-top:20px;
}

.room{
  display:block;
  color:#666666;
  margin-bottom:15px;
  text-decoration: none;
}

.room:hover{
  text-decoration: underline;
}

.new-room-button{
  position:relative;
  height:24px;
  top:-4px;
  left:10px;
}

#modal-container{
  padding:20px;
}

#modal-title{
  font-size:24px;
  margin-bottom:15px;
}

#modal-prompt{
  font-size:16px;
}

#modal-input-text{
  margin:10px 0 10px 0;
}
