html, body{
  padding: 0;
  margin: 0;
}

nav{
  position:absolute;
  height: 100%;
  width: 20%;
  background-color: #e8e8e8;
}

nav h1{
  display:inline-block;
  margin:20px 20px 0 20px;
  font-size: 24px;
}

section{
  position:absolute;
  left:20%;
  width:80%;
  height:100%;
}

#room-name{
  height:60px;
  line-height: 60px;
  padding-left:20px;
}

#messages-container{
  position:absolute;
  top:60px;
  bottom:0;
  width:100%;
}

.message{
  padding: 15px;
}

.message:nth-child(odd) {
    background: #f0f8ff;
}

.message-username{
  float:left;
  font-weight:bold;
}

.message-time{
  float:right;
  font-style: italic;
}

#rooms-container{
  margin:20px 20px 0 20px;
}

.room{
  display:block;
  color:#666666;
  margin-bottom:15px;
  text-decoration: none;
  cursor:pointer;
}

.room:hover{
  text-decoration: underline;
}

.new-room-button{
  position:relative;
  height:24px;
  top:-4px;
  left:10px;
}

#modal-container{
  padding:20px;
}

#modal-title{
  font-size:24px;
  margin-bottom:15px;
}

#modal-prompt{
  font-size:16px;
}

#modal-input-text{
  margin:10px 0 10px 0;
}

.clearfix::after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
